.wrapper-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-home-navbar {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;

  height: 75vh;
  width: 95vw;
  box-shadow: 0 0 2px gray;
  /* border-top-right-radius: 25px; */
  /* border-top-left-radius: 25px; */
  border-radius: 25px;
  padding: 15px;
  overflow-y: scroll;
}

.wrapper-transaction-income {
  display: flex;
  margin-left: 1em;
}

.transactions-timeline,
.select-ie {
  margin: 1em;
}

.data-icons {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;

  /* margin: 35px; */
}
