.wrapper-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-home-navbar {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */

  height: 90vh;
  width: 95vw;
  box-shadow: 0 0 2px gray;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding: 15px;
  overflow-y: scroll;
}

.transactions-timeline,
.select-ie {
  margin: 20px;
}

.data-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anticon svg {
  font-size: 20px;
  cursor: pointer;
}
