.outlined-list,
.outlined-chart {
  margin-top: 2em;
  margin-left: 1.5em;
}

.add-new-data {
  margin-top: 2em;
  margin-left: 4em;
  margin-right: 2em;

  background-color: #14427e;
  padding: 5px 20px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  transition: background-color 1s;
}

.transaction-form label {
  color: black !important;
}

.modal-addbutton {
  display: flex;
  justify-content: right;
}

.submit-button-modal {
  color: white;
  font-style: italic;
  background-color: #14427e;
  cursor: pointer;
  /* width: 120; */
}

.add-new-data:hover {
  background-color: greenyellow;
  color: black;
}

.active-icon {
  color: black;
}
.inactive-icon {
  color: #d1e0f3;
}
